 /* Remove the navbar's default margin-bottom and rounded borders */ 
 .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
  .row.content {height: 450px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* Set black background color, white text and some padding */
  footer {
    background-color: #555;
    color: white;
    padding: 15px;
  }

  #bwsterling{
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    
  }

  #git{
    height: 20%;
    width: 20%;
    text-align: left;
  }
  #linked{
    height: 20%;
    width: 20%;
  }
  #flickr{
    height: 20%;
    width: 20%;
  }

  #logo{
    position: relative;
    bottom: 10px;
  }

  #stack{
    height: 20%;
    width: 20%;
  }

  #skills{
    height: 5%;
    width: 5%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    padding-right: 2%;
  }

  #skill{
    text-align: center;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }

  text {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: draw 8s forwards;
  }
  @-webkit-keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }
  text {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    -webkit-animation: draw 8s forwards;
    -moz-animation: draw 8s forwards;
    -o-animation: draw 8s forwards;
    -ms-animation: draw 8s forwards;
    animation: draw 8s forwards;
  }
  @-webkit-keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-moz-keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-o-keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @-ms-keyframes draw {
    100% {
      stroke-dashoffset: 0;
    }